/* Estilos comuns a todas as páginas */
body {
    background-image: linear-gradient(rgba(0, 191, 255, 0.9), rgba(0, 191, 255, 0.2)), url('../img/background_layout.jpg');
    background-size: cover;          /* Cobre toda a área */
    background-position: center;     /* Centraliza a imagem */
    background-repeat: no-repeat;    /* Não repete a imagem */
    background-attachment: fixed;    /* Mantém a imagem fixa durante a rolagem */
    margin: 0;
    padding: 0;
    min-height: 100vh;              /* Garante que o fundo cubra toda a altura */
}

#cabecalho {    
    margin: 50px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

#topo {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;    
    margin: 0 auto 20px;    
    grid-gap: 10px;
    border-radius: 10px;    
    background-color: rgba(255, 255, 0, 0.5);
    color: #333;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(255, 105, 180,0.2);
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo img {
    max-height: 100px;
    width: auto;
}

#descricao_pagina {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#descricao_pagina h1 {
    margin: 0;
    color: #333;
}

#descricao_pagina p {
    margin: 0;
    color: #333;
}

/* Estilo do rodapé */
#rodape {    
    padding: 10px;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    margin: 20px auto 0;
    color: #333;
    gap: 20px;               /* Espaço entre os elementos */
}

#rodape h6 {
    display: inline-block;
    margin: 0;               /* Remove margens para melhor controle */
    line-height: normal;
    text-align: center;      /* Centraliza o texto */
}


