<<<<<<< HEAD
/* Estilos específicos para a página de visualização */
#conteudo_especifico {
    position: relative;
    width: 1200px;
    margin: 2em auto;
}

.card-oculos {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imagem-oculos {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.info-oculos {
    margin-top: 10px;
=======
/* Estilos específicos para a página de visualização */
#conteudo_especifico {
    position: relative;
    width: 1200px;
    margin: 2em auto;
}

.card-oculos {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imagem-oculos {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.info-oculos {
    margin-top: 10px;
>>>>>>> 68e120d9fdaff8d7cbf1c55a229d164fe0bc4d6f
} 